doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/bootstrap.min.js")
  body
    nav(class="navbar navbar-default navbar-fixed-top")
      .container
        a(class="navbar-brand") Wive
    block content